*{
    box-sizing: border-box;
    margin: 10px auto;
}
#main{
    width: 99%;
    height: 1000px;
    border: 2pt rgb(0, 0, 0) solid;
    position: relative;
    background-color: rgb(99, 99, 99);
}
.header{
    width: 100% ;  
    height: 110px;
    border: 2pt rgb(0, 0, 0) solid;
    background-color: rgb(209, 209, 209);
    
}
.sec1{
    width: 10%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 50px;
    text-align: center;
    left: 1%;
    position: absolute;
    background-color: rgb(92, 92, 92);
    padding: 10px 10px 10px;
}
.sec2{
    width: 69%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 50px;
    text-align: center;
    background-color: rgb(92, 92, 92);
    left: 12%;
    position: absolute;
    padding: 10px 10px 10px;
}
.sec3{
    width: 17%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 50px;
    text-align: center;
    background-color: rgb(92, 92, 92);
    left: 82%;
    position: absolute;
    padding: 10px 10px 10px;
}
.sec4{
    width: 81%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 200px;
    background-color: rgb(209, 209, 209);
    left: 0px;
    position: absolute;
}
.nav1{
    width: 65%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 120px;
    background-color: rgb(92, 92, 92);
    left: 1%;
    position: absolute;
    text-align: center;
    padding: 10px 10px 10px;
}
.nav2{
    width: 29%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 120px;
    background-color: rgb(92, 92, 92);
    left: 70%;
    position: absolute;
    text-align: center;
    padding: 10px 10px 10px;
}
.sec5{
    width: 18%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 200px;
    background-color: rgb(83, 80, 80);
    left: 82%;
    position: absolute;
    padding: 10px 10px 10px;
}
.sec6{
    width: 81%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 550px;
    background-color: rgb(209, 209, 209);
    left: 0px;
    position: absolute;
    top: 35%;
}
.art1{
    width: 40%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 450px;
    background-color: rgb(92, 92, 92);
    left: 1%;
    position: absolute;
    text-align: center;
    padding: 10px 10px 10px;
}
.art2{
    width: 54%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 450px;
    background-color: rgb(92, 92, 92);
    left: 45%;
    position: absolute;
    text-align: center;
    padding: 10px 10px 10px;
}
.sec7{
    width: 18%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 550px;
    background-color: rgb(209, 209, 209);
    left: 82%;
    position: absolute;
    top: 35%;
}
.as1{
    width: 90%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 450px;
    background-color: rgb(92, 92, 92);
    left: 5%;
    position: absolute;
    text-align: center;
    padding: 10px 10px 10px;
}
.footer{
    width: 100%;
    border: 2pt rgb(0, 0, 0) solid;
    height: 60px;
    background-color: rgb(209, 209, 209);
    left: 0%;
    position: absolute;
    bottom: 0%;
}

@media only screen and (max-width: 1355px){
    #main{
        width: 90%;
        height: 1000px;
        border: 2pt rgb(0, 0, 0) solid;
        position: relative;
        background-color: rgb(255, 1, 213);
    }
    .header{
        width: 100% ;  
        height: 105px;
        border: 2pt rgb(0, 0, 0) solid;
        background-color: rgb(209, 209, 209);
        
    }
    .sec1{
        width: 15%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 50px;
        text-align: center;
        left: 1%;
        position: absolute;
        background-color: rgb(255, 255, 255);
        padding: 10px 10px 10px;
    }
    .sec2{
        width: 64%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 50px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        left: 17%;
        position: absolute;
        padding: 10px 10px 10px;
    }
    .sec3{
        width: 17%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 50px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        left: 82%;
        position: absolute;
        padding: 10px 10px 10px;
    }
    .sec4{
        width: 81%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 200px;
        background-color: rgb(255, 255, 255);
        left: 0px;
        position: absolute;
    }
    .nav1{
        width: 65%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 120px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .nav2{
        width: 29%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 120px;
        background-color: rgb(255, 255, 255);
        left: 70%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .sec5{
        width: 18%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 200px;
        background-color: rgb(255, 255, 255);
        left: 82%;
        position: absolute;
        padding: 10px 10px 10px;
    }
    .sec6{
        width: 81%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 550px;
        background-color: rgb(255, 255, 255);
        left: 0px;
        position: absolute;
        top: 35%;
    }
    .art1{
        width: 40%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 450px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .art2{
        width: 54%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 450px;
        background-color: rgb(255, 255, 255);
        left: 45%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .sec7{
        width: 18%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 550px;
        background-color: rgb(255, 255, 255);
        left: 82%;
        position: absolute;
        top: 35%;
    }
    .as1{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 450px;
        background-color: rgb(255, 255, 255);
        left: 5%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .footer{
        width: 100%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 60px;
        background-color: rgb(255, 255, 255);
        left: 0%;
        position: absolute;
        bottom: 0%;
    }
}

@media only screen and (max-width: 768px){
    #main{
        width: 95%;
        height: 1000px;
        border: 2pt rgb(0, 0, 0) solid;
        position: relative;
        background-color: rgb(255, 123, 0);
    }
    .header{
        width: 95% ;  
        height: 115px;
        border: 2pt rgb(0, 0, 0) solid;
        background-color: rgb(209, 209, 209);
        
    }
    .sec1{
        width: 17%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 60px;
        text-align: center;
        left: 4%;
        position: absolute;
        background-color: rgb(255, 255, 255);
        padding: 10px 10px 10px;
    }
    .sec2{
        width: 50%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 60px;
        text-align: center;
        background-color: rgb(253, 251, 251);
        left: 3%;
        right:3%;
        position: absolute;
        padding: 10px 10px 10px;
    }
    .sec3{
        width: 17%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 60px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        left: 79%;
        position: absolute;
        padding: 10px 10px 10px;
    }
    .sec4{
        width: 79%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 200px;
        background-color: rgb(255, 255, 255);
        left: 5px;
        position: absolute;
    }
    .nav1{
        width: 65%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 120px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .nav2{
        width: 29%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 120px;
        background-color: rgb(255, 255, 255);
        left: 70%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .sec5{
        width: 18%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 200px;
        background-color: rgb(255, 255, 255);
        left: 80%;
        position: absolute;
        padding: 10px 10px 10px;
    }
    .sec6{
        width: 60%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 550px;
        background-color: rgb(255, 255, 255);
        left: 5px;
        position: absolute;
        top: 35%;
    }
    .art1{
        width: 98%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 250px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .art2{
        width: 98%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 230px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
        bottom: 0%;
    }
    .sec7{
        width: 36%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 550px;
        background-color: rgb(255, 255, 255);
        left: 62%;
        position: absolute;
        top: 35%;
    }
    .as1{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 450px;
        background-color: rgb(255, 255, 255);
        left: 5%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .footer{
        width: 94%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 60px;
        background-color: rgb(255, 255, 255);
        left: 3%;
        position: absolute;
        bottom: 0%;
    }
}

@media only screen and (max-width: 375px){
    #main{
        width: 90%;
        height: 1000px;
        border: 2pt rgb(0, 0, 0) solid;
        position: relative;
        background-color: rgb(0, 217, 255);
    }
    .header{
        width: 90% ;  
        height: 225px;
        border: 2pt rgb(0, 0, 0) solid;
        background-color: rgb(209, 209, 209);
        
    }
    .sec1{
        width: 80%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 50px;
        text-align: center;
        left: 10%;
        position: absolute;
        background-color: rgb(255, 255, 255);
        padding: 10px 10px 10px;
    }
    .sec2{
        width: 80%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 50px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        left: 3%;
        position: absolute;
        padding: 10px 10px 10px;
        top: 11%;
    }
    .sec3{
        width: 80%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 50px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        left: 10%;
        position: absolute;
        padding: 10px 10px 10px;
        top: 17%;
    }
    .sec4{
        width: 95%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 200px;
        background-color: rgb(255, 255, 255);
        left: 5px;
        position: absolute;
    }
    .nav1{
        width: 45%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 140px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .nav2{
        width: 45%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 140px;
        background-color: rgb(255, 255, 255);
        left: 51%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .sec5{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 100px;
        background-color: rgb(255, 255, 255);
        left: 5%;
        position: absolute;
        padding: 10px 10px 10px;
        top: 46%;
    }
    .sec6{
        width: 60%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 340px;
        background-color: rgb(209, 209, 209);
        left: 5px;
        position: absolute;
        top: 57%;
    }
    .art1{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 150px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .art2{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 120px;
        background-color: rgb(255, 255, 255);
        left: 1%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .sec7{
        width: 35%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 340px;
        background-color: rgb(255, 252, 252);
        left: 62%;
        position: absolute;
        top: 57%;
    }
    .as1{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 280px;
        background-color: rgb(255, 255, 255);
        left: 5%;
        position: absolute;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .footer{
        width: 90%;
        border: 2pt rgb(0, 0, 0) solid;
        height: 60px;
        background-color: rgb(209, 209, 209);
        left: 5%;
        position: absolute;
        bottom: 0%;
    }
}