*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 10px auto;
}
body
{
    background-color: rgb(0, 41, 15);
    color: coral;
    height: max-content;
}
#mainContent{
    width: 1024px;
    border: 1pt rgb(187, 0, 0) solid;
}
header, nav, article, footer, .sec{
    width: 1000px;
    height: 200px;
    border: 1pt rgb(192, 0, 0) solid;
}
h2{
    text-align: center;
}
ul{
    padding: 0px;
    list-style: none;
}
a, a:active{
    text-decoration: none;
    color: rgb(0, 139, 132);
}
li{
    float: right;
    display: inline-block;
    width: 120px;
    background-color: darksalmon;
    text-align: center;
    padding: 3px;
    border-radius: 16px;
    margin-right: 50px;
}
a:hover{ 
    color: darkseagreen;
    background-color: darkslategray;
}
article{
    height: max-content;
    font-size: 20pt;
    padding: 3px;
}
.one, .two, .three{
    font-size: 13pt;
    color: rgb(255, 4, 4);
    width: 950px;
    height: 500px;
    background-size: 950px;

}
h2{
    color: rgb(250, 192, 0);
}
p{
    text-indent: 5%;
}
.one{
    background-image: url("Percy-Jackson-and-the-Olympians-The-Lightning-Thief-images-fcf6116c-8aad-4b55-b413-a0b7fdfcf59.jpg");
}
.two{
    background-image: url("the-maze-runner-new-poster.jpg")
}
.three{
    background-image: url("474565-god-of-war-playstation-4-front-cover.jpg")
}
.logo{
    float: left;
    margin-left: 50px;
}